### Question 1

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Question 2

In [2]:
i = 20
while i >= 1:
    print(i)
    i -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

### Question 3

In [3]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

### Question 4

In [4]:
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    print(i)

Enter a number:  8

1
2
3
4
5
6
7
8

### Question 5

In [5]:
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    if i % 2 != 0:
        print(i)

Enter a number:  16

1
3
5
7
9
11
13
15

### Question 6

In [6]:
for i in range(5):
    print("Happy Birthday!")

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

### Question 7

In [7]:
n = int(input("Enter a number: "))
print("The first", n, "terms of the series are:")
for i in range(1, n + 1):
    print(i * i, end=" ")

Enter a number:  5

The first 5 terms of the series are:
1 4 9 16 25

### Question 8

In [8]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number:  16

16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

### Question 9

In [9]:
start = 3
diff = 4
print("The sequence is:")
for i in range(8):
    print(start + i * diff, end=" ")

The sequence is:
3 7 11 15 19 23 27 31

### Question 10

In [10]:
start = 2
ratio = 3
print("The sequence is:")
for i in range(6):
    print(start * (ratio ** i), end=" ")

The sequence is:
2 6 18 54 162 486

### Question 11

In [11]:
n = int(input("Enter a positive integer: "))
total = 0
for i in range(1, n + 1):
    total += i
print(f"The sum of integers from 1 to {n} is: {total}")

Enter a positive integer:  56

The sum of integers from 1 to 56 is: 1596

### Question 12

In [12]:
n = int(input("Enter a positive integer: "))
total = 0
for i in range(1, n + 1):
    total += 1 / i
print(f"The sum of reciprocals from 1 to {n} is: {total:.2f}")

Enter a positive integer:  52

The sum of reciprocals from 1 to 52 is: 4.54

### Question 13

In [13]:
total = 0
for i in range(5):
    num = int(input("Enter a number: "))
    total += num
print(f"The final running total is: {total}")

Enter a number:  24
Enter a number:  32
Enter a number:  12
Enter a number:  23
Enter a number:  34

The final running total is: 125

### Question 14

In [14]:
n = int(input("Enter a positive integer: "))

if n < 0:
    print("Factorial does not exist for negative numbers")
elif n == 0:
    print("The factorial of 0 is 1")
else:
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    print(f"The factorial of {n} is {factorial}")

Enter a positive integer:  5

The factorial of 5 is 120

### Question 15

In [15]:
base = float(input("Enter the base number: "))
exponent = int(input("Enter the exponent: "))

result = 1

if exponent >= 0:
    for i in range(exponent):
        result *= base
else:
    for i in range(abs(exponent)):
        result /= base

print(f"{base} raised to the power of {exponent} is: {result}")

Enter the base number:  4
Enter the exponent:  2

4.0 raised to the power of 2 is: 16.0