# Assignment 1 have same question of assignment 2 so i submit assignment 1 file because every qquestion of assignment 2 is in assignment 1

### Question 1:
- Part 1

In [3]:
My_name="S.M Yousuf Rafey"
Father_name="S.M Rafey Shafi"
D_O_B="22-Oct-2004"
print("Name :\t\t" + My_name +"\nFather Name :\t" + Father_name + "\nD O B :\t\t" + D_O_B)

Name :		S.M Yousuf Rafey
Father Name :	S.M Rafey Shafi
D O B :		22-Oct-2004

### Question 2:

In [4]:
BioData='''Asalam o Aliakum ! My name is Yousuf Iam Doing BSSE From Mohammad Ali Jinnah University
 and currently doing Cloud Data Engineering Course from Saylani. My Trainer in Saylani is Sir Qasim Hassan 
 who is teaching this course with his heart and soul'''
print(BioData)

Asalam o Aliakum ! My name is Yousuf Iam Doing BSSE From Mohammad Ali Jinnah University
 and currently doing Cloud Data Engineering Course from Saylani. My Trainer in Saylani is Sir Qasim Hassan
 who is teaching this course with his heart and soul

### Question 3:

In [7]:
x=100
y=60
print(x+y)
print(x-y)
print(x+y)
print(x/y)
print(x//y)
print(x++y)

160
40
160
1.6666666666666667
1
160

### Question 4:

In [9]:
English=85
Islamiat=92
Maths=100
total_marks=300
obtained_marks=English+Islamiat+Maths
percentage=(obtained_marks/total_marks)*100
print(f"Total Marks is : {total_marks}")
print(f"Obtained Marks is :{obtained_marks}")
print(f"Percentage is : {percentage}")

Total Marks is : 300
Obtained Marks is :277
Percentage is : 92.33333333333333

### Question 1:
- Part 2:

In [6]:
years=float(input("Enter your years of work"))
salary=float(input("Enter your Salary"))
if years>5:
    bonus=salary*0.05
    total_salary=bonus+salary
    print(f"Your year of working is : {years}")
    print(f"Your bonus of experience is : {total_salary}")
else:
    print(f"Your Salary is : {salary}")
    print(f"Your year of working is : {years}")

Enter your years of work 6
Enter your Salary 78000

Your year of working is : 6.0
Your bonus of experience is : 81900.0

### Question 2:

In [8]:
age=int(input("Enter your age"))
if age>17:
    print(f"You are Eligible to vote")
else:
    print(f"You are not Eligible to vote")

Enter your age 15

You are nor Eligible to vote

## Question 3:

In [3]:
num=int(input("Enter a Number for checking that us even or odd"))
if num%2==0:
    print(f"The Number {num} is Even")
else:
    print(f"The Number {num} is Odd")

Enter a Number for checking that us even or odd 16

The Number 16 is Even

## Question 4:

In [5]:
num=int(input("Enter a Number for checking that the number is divisible by 7 or not"))
if num%7==0:
    print(f"The Number {num} is divisible by 7")
else:
    print(f"The Number {num} is not divisible by 7")

Enter a Number for checking that the number is divisible by 7 or not 6

The Number 6 is not divisible by 7

## Question 5:

In [7]:
num=int(input("Enter a Number"))
if num%5==0:
    print(f"Hello")
else:
    print(f"Bye")

Enter a Number 7

Bye

## Question 6:

In [9]:
num=int(input("Enter a number"))
last_digit=num%10
print(f"The Last digit of a number : {num} is {last_digit}")

Enter a number 24

The Last digit of a number : 24 is 4

## Question 7:

In [11]:
length=int(input("Enter a Length"))
breadth=int(input("Enter breadth"))
if length==breadth:
    print(f"It's a Square")
else:
    print(f"It's a Rectangle")

Enter a Length 5
Enter breadth 7

It's a Rectangle

## Question 8:

In [14]:
num1=int(input("Enter a number 1"))
num2=int(input("Enter a number 2"))
if num1>num2:
    print(f"Number : {num1} is greater than Number : {num2}")
else:
    print(f"Number : {num2} is greater than Number : {num1}")

Enter a number 1 2
Enter a number 2 78

Number :78 is greater than Number : 2

## Question 9:

In [16]:
quantity=int(input("Enter a Quantity of a item you want to buy"))
unit_price=100
total_price=quantity*unit_price
if total_price>1000:
    discount=total_price*0.10
    total_price=total_price-discount
print(f"The total cost after buying {quantity} items is : {total_price}")

Enter a Quantity of a item you want to buy 20

The total cost after buying 20 items is : 1800.0

## Question 10:

In [20]:
marks=int(input("Enter a Marks"))
if marks>80 and marks<=100:
    print(f"You Got A Grade")
elif marks>60 and marks<=80:
    print(f"You Got B Grade")
elif marks>50 and marks<=60:
    print(f"You Got C Grade")
elif marks>45 and marks<=50:
    print(f"You Got D Grade")
elif marks>25 and marks<=45:
    print(f"You got E Grade")
elif marks<25:
    print(f"You Got F Grade")
else:
    print(f"Invalid Numbers")

Enter a Marks 101

Invalid Numbers

## Question 11:

In [24]:
class_held=int(input("Enter a number of classes Held"))
class_attended=int(input("Enter a number of classes attendend"))
attendence_percentage=(class_attended/class_held)*100
if attendence_percentage>75:
    print(f"{attendence_percentage} you are available to sit in exam")
else:
    print(f"{attendence_percentage} you are not available to sit in exam")

Enter a number of classes Held 20
Enter a number of classes attendend 9

45.0 you are not available to sit in exam

## Question 12:
- Modify the above question to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

In [30]:
stu_ans=input("DO you Have any Medical isses ans this with only 'Y' or 'N'")
if stu_ans=="Y":
    print(f"{stu_ans} ! Yes you have an Medical Issue :")
else:
    print(f"{stu_ans} ! No you dont have an Medical Issue :")

DO you Have any Medical isses ans this with only 'Y' or 'N' Y

Y ! Yes you have an Medical Issue :

## Question 13:

In [3]:
year=int(input("Enter a Year for checking it is Leap year or not"))
if (year%4==0 and (year%100!=0) or year%400==0):
    print(f"{year} ! It is a Leap year")
else:
    print(f"{year} ! It is not a Leap year")

Enter a Year for checking it is Leap year or not 2025

2025 ! It is not a Leap year

## Question 14:

In [3]:
age=int(input("Enter your age"))
gender=input("Enter Your Gender 'M' or 'F'").upper()
marital_status=input("Enter your marital status 'Y' or 'N'").upper()
if gender=="F":
    print(f"You will work onn Urban Areas")
elif gender=="M":
    if age>20 and age<40:
        print(f"You Work in any where")
    elif age>40 and age<60:
        print(f"You Work in Urban Areas Only..")
    else:
        print(f"Error ! Invalid age for Male Employee")
else:
    print(f"Error ! Invalid age")

Enter your age 103
Enter Your Gender 'M' or 'F' m
Enter your marital status 'Y' or 'N' y

Error ! Invalid age for Male Employee

## Question 15:
 -Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria : Unit Price
upt 100 units no charge Next 200 units Rs 5 per unit After 200 units Rs 10 per unit (For example if input unit is 350 than total bill amount is Rs.3500 (For example if input unit is 97 than total bill amount is Rs.0 (For example if input unit is 150 than total bill amount is Rs.750

In [9]:
unit=int(input("Enter Units of your Electricity Bill"))
if unit>0 and unit<=100:
    bill=0
elif unit>100 and unit<=300:
    bill=(unit-100)*5
elif unit>300:
    bill=(200*5)+(unit-300)*10
print(f"Your Current bill is Rs : {bill}")

Enter Units of your Electricity Bill 350

Your Current bill is Rs : 1500

In [5]:
age1=int(input("Enter age 1:"))
age2=int(input("Enter age 2:"))
age3=int(input("Enter age 3:"))
if age1>age2:
    print(f"{age1} is Greater than {age2}, {age3}")
elif age2>age1:
    print(f"{age2} is Greater than {age1},{age3}")
elif age3>age2 and age3>age1:
    print(f"{age3} is Greater than {age2},{age1}")

Enter age 1: 45
Enter age 2: 21
Enter age 3: 20

45 is Greater than 21, 20

## Part 3

In [1]:
students = ["Ali", "Sara", "Hassan", "Zara", "Bilal"]

print("Original List:", students)

students.append("Omar")
print("After append:", students)

students.insert(2, "Kiran")
print("After insert:", students)

students.remove("Bilal")
print("After remove:", students)

students.pop(1)
print("After pop:", students)

students.sort()
print("After sort:", students)

students.reverse()
print("After reverse:", students)

print("Index of Zara:", students.index("Zara"))

students.append("Ali")
print("Count of Ali:", students.count("Ali"))

copy_students = students.copy()
print("Copied List:", copy_students)

students.extend(["Usman", "Nida"])
print("After extend:", students)

copy_students.clear()
print("After clear (copied list):", copy_students)

del students[0]
print("After del (index 0 removed):", students)

Original List: ['Ali', 'Sara', 'Hassan', 'Zara', 'Bilal']
After append: ['Ali', 'Sara', 'Hassan', 'Zara', 'Bilal', 'Omar']
After insert: ['Ali', 'Sara', 'Kiran', 'Hassan', 'Zara', 'Bilal', 'Omar']
After remove: ['Ali', 'Sara', 'Kiran', 'Hassan', 'Zara', 'Omar']
After pop: ['Ali', 'Kiran', 'Hassan', 'Zara', 'Omar']
After sort: ['Ali', 'Hassan', 'Kiran', 'Omar', 'Zara']
After reverse: ['Zara', 'Omar', 'Kiran', 'Hassan', 'Ali']
Index of Zara: 0
Count of Ali: 2
Copied List: ['Zara', 'Omar', 'Kiran', 'Hassan', 'Ali', 'Ali']
After extend: ['Zara', 'Omar', 'Kiran', 'Hassan', 'Ali', 'Ali', 'Usman', 'Nida']
After clear (copied list): []
After del (index 0 removed): ['Omar', 'Kiran', 'Hassan', 'Ali', 'Ali', 'Usman', 'Nida']

### Question 2

In [2]:
students = ("Ali", "Sara", "Hassan", "Zara", "Bilal")

print("Original Tuple:", students)

print("First element:", students[0])
print("Last element:", students[-1])
print("Slice (1 to 3):", students[1:4])

print("Count of Ali:", students.count("Ali"))
print("Index of Zara:", students.index("Zara"))

new_tuple = students + ("Omar", "Kiran")
print("After Concatenation:", new_tuple)

repeat_tuple = students * 2
print("After Repetition:", repeat_tuple)

print("Is Sara in tuple?", "Sara" in students)
print("Is Usman not in tuple?", "Usman" not in students)

for name in students:
    print("Student:", name)

list_students = list(students)
list_students.append("Nida")
students = tuple(list_students)
print("After converting to list and adding Nida:", students)

Original Tuple: ('Ali', 'Sara', 'Hassan', 'Zara', 'Bilal')
First element: Ali
Last element: Bilal
Slice (1 to 3): ('Sara', 'Hassan', 'Zara')
Count of Ali: 1
Index of Zara: 3
After Concatenation: ('Ali', 'Sara', 'Hassan', 'Zara', 'Bilal', 'Omar', 'Kiran')
After Repetition: ('Ali', 'Sara', 'Hassan', 'Zara', 'Bilal', 'Ali', 'Sara', 'Hassan', 'Zara', 'Bilal')
Is Sara in tuple? True
Is Usman not in tuple? True
Student: Ali
Student: Sara
Student: Hassan
Student: Zara
Student: Bilal
After converting to list and adding Nida: ('Ali', 'Sara', 'Hassan', 'Zara', 'Bilal', 'Nida')

### Question 3

In [3]:
students = {"Ali", "Sara", "Hassan", "Zara", "Bilal"}

print("Original Set:", students)

students.add("Omar")
print("After add:", students)

students.update(["Nida", "Usman"])
print("After update:", students)

students.remove("Ali")
print("After remove (Ali):", students)

students.discard("Sara")
print("After discard (Sara):", students)

students.pop()
print("After pop (random element removed):", students)

copy_students = students.copy()
print("Copied Set:", copy_students)

students.clear()
print("After clear:", students)

# New sets for set operations
set1 = {"Ali", "Sara", "Hassan"}
set2 = {"Sara", "Zara", "Bilal"}

print("Union:", set1.union(set2))
print("Intersection:", set1.intersection(set2))
print("Difference:", set1.difference(set2))
print("Symmetric Difference:", set1.symmetric_difference(set2))

print("Is set1 subset of set2?", set1.issubset(set2))
print("Is set1 superset of set2?", set1.issuperset(set2))
print("Are set1 and set2 disjoint?", set1.isdisjoint(set2))

Original Set: {'Bilal', 'Hassan', 'Sara', 'Zara', 'Ali'}
After add: {'Omar', 'Bilal', 'Hassan', 'Sara', 'Zara', 'Ali'}
After update: {'Omar', 'Bilal', 'Usman', 'Hassan', 'Nida', 'Sara', 'Zara', 'Ali'}
After remove (Ali): {'Omar', 'Bilal', 'Usman', 'Hassan', 'Nida', 'Sara', 'Zara'}
After discard (Sara): {'Omar', 'Bilal', 'Usman', 'Hassan', 'Nida', 'Zara'}
After pop (random element removed): {'Bilal', 'Usman', 'Hassan', 'Nida', 'Zara'}
Copied Set: {'Bilal', 'Usman', 'Hassan', 'Nida', 'Zara'}
After clear: set()
Union: {'Bilal', 'Hassan', 'Sara', 'Zara', 'Ali'}
Intersection: {'Sara'}
Difference: {'Hassan', 'Ali'}
Symmetric Difference: {'Hassan', 'Zara', 'Ali', 'Bilal'}
Is set1 subset of set2? False
Is set1 superset of set2? False
Are set1 and set2 disjoint? False

### Question 4

In [4]:
# Shallow Copy (no import copy)
list1 = [[1, 2], [3, 4]]
shallow_copy = list1[:]   # or shallow_copy = list1.copy()

shallow_copy[0][0] = 99

print("Shallow Copy Example:")
print("Original List:", list1)
print("Shallow Copy:", shallow_copy)


# Deep Copy (with import copy)
import copy

list2 = [[1, 2], [3, 4]]
deep_copy = copy.deepcopy(list2)

deep_copy[0][0] = 88

print("\nDeep Copy Example:")
print("Original List:", list2)
print("Deep Copy:", deep_copy)

Shallow Copy Example:
Original List: [[99, 2], [3, 4]]
Shallow Copy: [[99, 2], [3, 4]]

Deep Copy Example:
Original List: [[1, 2], [3, 4]]
Deep Copy: [[88, 2], [3, 4]]

### Question 5

In [ ]:
# ---------- Pass by Value Example (Immutable type) ----------
a = 10
b = a        # b ko a ka copy mila

b = b + 5    # b change hua, lekin a same hai

print("Pass by Value (Immutable types)")
print("a =", a)   # 10
print("b =", b)   # 15


# ---------- Pass by Address Example (Mutable type) ----------
list1 = [1, 2, 3]
list2 = list1   # list2 ko list1 ka address mila

list2.append(4) # list2 change hua, list1 bhi change hogi

print("\nPass by Address (Mutable types)")
print("list1 =", list1)   # [1, 2, 3, 4]
print("list2 =", list2)   # [1, 2, 3, 4]